<app-not-found
  [visible]="!isFoodAvailable()"
  notFoundMessage="This food is no more available"
  resetLinkText="Go to home page and select another food"
></app-not-found>
<div *ngIf="isFoodAvailable()" class="container">
  <img [src]="food[0].imageUrl" [alt]="food[0].name"/>
  <div class="details">
    <div class="header">
      <span class="name">
        {{ food[0].name }}
      </span>
      <span class="favorite {{ food[0].favorite ? '' : 'not' }}">❤</span>
    </div>
    <div class="rating">
      <star-rating
        [value]="food[0].stars"
        [totalstars]="5"
        checkedcolor="blue"
        uncheckedcolor="black"
        size="25px"
        [readonly]="true"
      ></star-rating>
    </div>
    <div class="origins">
      <span *ngFor="let origin of food[0].origins">
        {{ origin }}
      </span>
    </div>
    <div class="tags">
      <a *ngFor="let tag of food[0].tags" routerLink="/tag/{{ tag }}">{{ tag }}</a>
    </div>
    <div class="cook-time">
      <span
      >Time to cook about <strong>{{ food[0].cookTime }}</strong> miniutes</span
      >
    </div>
    <div class="price">
      <span>{{ food[0].price | currency : "EUR" }}</span>
    </div>
    <button (click)="addToCart()">Add to cart</button>
  </div>
</div>
